.edit-topic-list{
	list-style: none;
	
	.topic{
		margin-bottom: 20px;
		display: flex;
		flex-direction: row;
		width: 15rem;
		> * {
			display: inline-block;
		}

		p{
			margin: 0;
		}
	}
}

.edit-student-list{

	.student-edit-item{
		:not(:first-child){
			width: 150px;
		}
	}

	// .student-edit-item:nth-child(even){
	// 	background: darken(white, 3%);
	// }

	// .student-edit-item.checked{
	// 	background: darken(white, 20%);

	// 	*{
	// 		font-weight: 800;
	// 	}
	// }

	// .student-edit-item.checked > :nth-child(2){
	// 	padding-left: 10px;
	// }
}

#admin-form{
	background: red;
	padding: 1rem;
	border: 3px solid yellow;
	margin-bottom: 5rem;
	text-align: center;
	animation: textAttention 0.7s infinite;
}

@keyframes textAttention{
	0%{color: black;}
	50%{color: yellow; border: 3px solid darken(red, 20%);}
	100%{color: black;}
}