.hub-container{
	> .header{
		display: flex;
		flex-direction: row;
		margin: 2rem 0;
		border: 1px solid $form-border-color;
		background: rgba(0, 0, 0, 0.02);
		border-radius: 3px;
		padding: 16px;

		h1{
			margin: 0;
		}

		p{
			margin: 5px 0;
		}

		.svg-container{
			margin-right: 1rem;
			svg{
				width: 60px;
				height: 60px;
				fill: #4f4f4f;
			}
		}

		.actions{
			margin-left: auto;
		}
	}
}

.hub{
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	width: 100%;
}

.hub .section{
	width: calc(50% - 7px);
	border: 1px solid $form-border-color;
	margin-top: 7px;
	margin-bottom: 7px;
	border-radius: 3px;

	.header{
		color: #707070;
		background: rgba(158,158,158,.2);
		padding: 8px;
		padding-left: 1rem;
		display: flex;

		h2{
			color: inherit;
			margin: 0;
			display: inline;
		}
	}

	.header.active{
		border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	}
}

.hub .section .content{
	padding: 1rem;

	.svg-container {
		display: inline;
		margin-right: 14px;
	}

	.icon-list{
		.icon{
			padding: 0;

			&:hover, &:focus{
				outline: none;
				color: black;
			}
		}
	}

	&.hidden{
		display: none;
	}
}

.section--full-width{
	width: 100% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.offers{
	li > :first-child{
		width: 80px;
	}

	li > * {
		display: inline-block;
		margin: 0;
	}

	.project-link{
		flex-grow: 1;
	}
}

.edit-topic-list{
	list-style: none;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding: 0 !important;


	.topic{
		margin-bottom: 10px;
		display: flex;
		flex-direction: row;
		width: 46.9%;

		&.odd{
			margin-right: 59px;
		}
		
		* {
			margin-right: 5px;
		}

		input{
			width: 100%;
		}
	}
}

.table-action, .table-mobile-menu{
	width: 20px;
	padding: 12px 8px;
}

.table-mobile-menu-header, .table-mobile-menu{
	display: none;
}

ul.dot-menu{
	display: none;
	white-space: nowrap;
	position: fixed;
	background: white;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	border-radius: 2px;
	z-index: 1;
	text-align: left;

	.dot-menu__item{
		.dot-menu__action {
			display: block;
			height: 48px;
			line-height: 48px;
			padding: 0 16px !important;
		}

		.dot-menu__action.icon{
			p{
				line-height: initial;
				font-size: 14px;
				font-weight: 400;
			}
		}

		&:hover{
			background: #eee;
		}

		&:active{
			background: #e0e0e0;
		}
	}

	.dot-menu__item--form{
		.icon{
			width: auto;
		}
	}
}