// Desktop

nav.desktop {
	background: $accent;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 99;
	ul {
		list-style: none;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}
}

nav.mobile{
	display: none;
	visibility: hidden;
	position: fixed;
	height: 100%;
	width: 75vw;
	max-width: 330px;
	background: #fafafa;
	z-index: 10;
    top: 50px;
    border-right: 1px solid #e0e0e0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    transform: translateX(-75vw);
    transition: .48s all cubic-bezier(.4,0,.2,1);

    h3{
		padding-left: 1rem;
	}

	.footer{
		display: flex;
		flex-direction: column;

		button {
			margin: 0 auto;
			margin-bottom: 4px;
			width: 80%;
		}
	}
}

nav.mobile.is-visible{
	visibility: visible;
	transform: translateX(0vw);
}

.nav-button{
	transition-duration: .28s;
	transition-timing-function: cubic-bezier(.4,0,.2,1);
	transition-property: background-color;
	a {
		display: block;
		text-decoration: none;
	}

	button{
		border: none;
		margin: 0;
		color: inherit;
		font-size: inherit;
		background: none;
		padding: 0;
	}
}

.nav-button--desktop{
	margin-right: 10px;
	color: white;
	transition: 0.3s all;

	a {
		padding: 10px;
		color: inherit;
	}

	> button{
		padding: 10px;
		padding-right: 0;
	}
}

.nav-button--mobile{
	display: flex;
	flex-direction: column;
	a{
		padding: 1rem;
		display: block;
		width: 100%;
	}

	&:hover{
		background-color: #e0e0e0;
	}
}

.nav-button--grouped{
	a{
		padding-left: 2rem;
	}
}

.dropdown{
	overflow: hidden;
	height: 50px;
	display: inline-block;

	* {
		vertical-align: middle;
	}

	> .svg-container{
		display: inline-block;
		vertical-align: middle;

		svg {
			position: relative;
			transition: .25s all cubic-bezier(.4,0,.2,1);
		}
	}

	> .dropdown-content{
		display: none;
		position: absolute;
		background: #f9f9f9;
		z-index: 1;
		transform-origin: top left;
		border: 1px solid #e5e5e5;
		border-top: none;
		top: 50px;

		> a, > div {
			display: block;
			padding: 12px 16px;
			text-decoration: none;
			color: lighten(black, 10%);
		}
	}
}

.dropdown:hover {
	& > .dropdown-content {
		display: block;
		animation: showDropdownContentAnim 0.12s ease;
	}

	& > .svg-container svg {
		transform: rotateZ(180deg);
	}
}


.sub-dropdown{
}

.sub-dropdown > .dropdown-content{
	display: none;
	position: absolute;
	background: #f9f9f9;
	z-index: 1;
	transform-origin: left;
	border: 1px solid #e5e5e5;
	border-top: none;
    top: 60px;
    left: 175px;
    min-width: 300px;
	a {
		display: block;
		padding: 12px 16px;
		text-decoration: none;
		color: lighten(black, 10%);
	}
}

.sub-dropdown:hover .dropdown-content {
	display: block;
	animation: showSubDropdownContentAnim 0.1s ease;
}

.sub-dropdown{
	display: inline-block;
	.svg-container{
		display: inline-block;
		vertical-align: middle;
		position: relative;
		left: 80px;
		svg {
			position: relative;
			transition: .25s all cubic-bezier(.4,0,.2,1);
		}
	}
}

.sub-dropdown:hover .svg-container svg {
	transform: rotateZ(180deg);
}

.mobile-nav-underlay{
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 3;
	transition: .48s all cubic-bezier(.4,0,.2,1);
}

.mobile-nav-underlay.is-visible{
	visibility: visible;
	opacity: 1;
}

@keyframes showDropdownContentAnim {
	0% {
		transform: scale3d(0.2, 0.2, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes showSubDropdownContentAnim {
	0% {
		transform: scale3d(0.9, 1, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}
