/*!
 * University of Sussex.
 * Unauthorized copying of this file, via any medium is strictly prohibited.
 * Written by Lewis Johnson <lewisjohnsondev@gmail.com>
 */

.project-card {
	.description p {
		white-space: pre-wrap;
	}

	img, video {
		width: 100%;
		margin: 5px 0;
	}
}

.favourite-container {
	position: relative;
	float: right;
	z-index: 9999;
	
	svg {
		fill-opacity: 0.3;
		fill: grey;

		:hover {
			fill-opacity: 0.6;
		}

		polygon {
			transition: .18s all ease;
		}
	}

	svg.favourite {
		fill-opacity: 1;
		fill: gold;
		:hover {
			fill-opacity: 1;
		}
	}
}

.project-row.border-left {
	border-left-width: 10px !important;
}

.supervisor-row > .border-left {
	border-left-width: 3px !important;
}
