.supervisor, .admin{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;

    .section:nth-child(odd){
        margin-right: 7px;
    }

    .section:nth-child(even){
        margin-left: 7px;
    }

    .section{
        width: calc(50% - 7px);
        border: 1px solid #d4d4d4;
        margin-top: 7px;
        border-radius: 3px;
        &.full{
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }

        .header{
            color: white;
            background: #00488c;
            h3{
                color: inherit;
                margin: 0;
                padding: 8px;
            }
        }

        .content{
            padding: 1rem;
        }
    }


    .projects-list{
        li > * {
            display: inline-block;
            margin: 0;
        }

        li > :first-child{
            width: 20px;
        }

        li > :nth-child(2){
            width: 80px;
        }

        li > :last-child{
            margin-left: auto;
        }
    }

    .offers{
        list-style: none;

        li{
            display: flex;
            flex-direction: row;
        }

        li:nth-child(even){
            background: darken(white, 3%);
        }

        li > :first-child{
            width: 80px;
        }

        li > * {
            display: inline-block;
            margin: 0;
        }

        .project-link{
            flex-grow: 1;
        }

        .accept, .reject{
            margin-left: auto;
            padding-left: 5px;
        }

        .reject{
            margin-right: 15px;
        }
    }
}
