.supervisor{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;

    .section{
        width: 50%;
        padding: 0 7px;

        &.full{
            width: 100%;
        }
    }

    .projects-list{
        li > * {
            display: inline-block;
            margin: 0;
        }

        li > :first-child{
            width: 20px;
        }

        li > :nth-child(2){
            width: 80px;
        }

        li > :last-child{
            margin-left: auto;
        }
    }

    .offers{
        list-style: none;

        li{
            display: flex;
            flex-direction: row;
        }

        li:nth-child(even){
            background: darken(white, 3%);
        }

        li > :first-child{
            width: 80px;
        }

        li > * {
            display: inline-block;
            margin: 0;
        }

        .project-link{
            flex-grow: 1;
        }

        .accept, .reject{
            margin-left: auto;
            padding-left: 5px;
        }

        .reject{
            margin-right: 15px;
        }
    }
}
