ul.tab-container{
	list-style: none;
	padding: 0px !important;
	display: flex;
}

.tab{
	display: inline-block;

	.content{ display: none; }
}

.content-host{
	ul{
		padding-left: 2rem;
	}
}

.mask{
	display: none;
	position: relative;
	float: right;
	width: 100px;
	height: 53px;
	top: -45px;
	right: -5px;
	background: linear-gradient(to right, transparent 0%, white 100%);
	pointer-events: none;
}