ul.tab-container{
	list-style: none;
	padding: 0px !important;
	display: flex;
	flex-direction: row;
}

ul.tab-container--vertical{
	flex-direction: column;
	height: 100%;
	margin-right: 25px;

	button.button{
		text-align: left;
	}
}

.tab-card--horizontal{
	display: flex;
	flex-direction: row;
}

.tab{
	display: inline-block;
	.content{ display: none; }
}

.content-host{
	ul{
		padding-left: 2rem;
	}

	h2 {margin: 1rem 0 !important;}
}

.mask{
	display: none;
	position: relative;
	float: right;
	width: 100px;
	height: 53px;
	top: -45px;
	right: -5px;
	background: linear-gradient(to right, transparent 0%, white 100%);
	pointer-events: none;
}
