body{
	margin: 0;
	position: relative;

	// Makes sure footer is always on the bottom
	min-height: calc(100% - 50px);
	margin-bottom: 50px;
}

// Normalise
ul{
	padding: 0;
	margin: 0;
}

html {
	height: 100%;
	box-sizing: border-box;
}

code{
	background: rgba(0, 0, 0, 0.03);
	padding: 5px;
	display: inline-block;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.main-content{
	@include transition--medium();
	padding: 3rem 0;
}

.cookie-banner{
	padding: 1rem;
	background: black;

	a, button{
		color: white;
	}

	a{
		padding-right: 1rem;
	}

	button{
		margin-left: auto;
	}
}
