.form{
	// display: flex;
	// flex-flow: column;
	// max-width: 400px;
}

.form--flex{
	display: flex;
	flex-flow: column;
}

.form--flex-row{
	flex-flow: row;

	> *{
		margin-right: 1rem;
	}
}

select, input, textarea, .fake-input{
	border: solid $form-border-width $form-border-color;
	padding: $form-input-padding;
	font-size: $form-input-font-size;
	font-family: $font-family-sans-serif;
	color: $input-color;
}

label{
	color: $form-label-text-color;
	display: block;
	margin-bottom: 5px;
	font-size: 16px;
}

button{
	cursor: pointer;
	background: none;
	border: none;
	font-family: $font-family-sans-serif;
	color: $input-color;
	transition-duration: background-color .28s cubic-bezier(0.19, 0.49, 0.35, 0.76);
}

button:focus{
	background: #e6e6e6;
}

.form-field {
	margin-bottom: 1.2rem;

	input[type='text'], input[type='password'], input[type='email'], textarea {
		width: 100%;
		clear: both;
	}

	textarea {
		resize: vertical;
		min-height: 36px;
		height: 150px;
	}

	&.has-error{
		input{
			border: solid 1px rgba(255, 0, 0, 0.40);
		}
	}
}

.vertical-select{
	display: flex;
	overflow: auto;
	flex-direction: row;
	width: 50%;
	height: 9rem;

	option{
		flex-grow: 1;
		flex-basis: 0;
		padding: 8px;
	}

	:first-child {
		margin-top: 1rem;
	}
}

.checkbox {
	position: relative;
	margin: $checkbox-margin;
	margin: 0;
	cursor: pointer;

	label {
		cursor: pointer;
		color: #757575;
		font-size: 16px;
		display: inline-block;
		margin-bottom: 0;

		&:before,
		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
		}

		&:before {
			// box
			width: $checkbox-size;
			height: $checkbox-size;
			background: #fff;
			border: 2px solid $checkbox-border-color;
			border-radius: 2px;
			cursor: pointer;
			transition: background 0.3s;
		}

		&:after {
			// checkmark
		}
	}

	input[type="checkbox"] {
		outline: 0;
		margin-right: $checkbox-size - 15px;

		&:checked {
			+ label:before {
				background: $checkbox-checked-color;
				border: none;
			}
			+ label:after {
				$checkmark-size: $checkbox-size - 2*$checkbox-padding;
				transform: rotate(-45deg);
				top: ($checkbox-size / 2) - ($checkmark-size / 4) - $checkbox-size/10;
				left: $checkbox-padding;
				width: $checkmark-size;
				height: $checkmark-size / 2;
				border: $checkmark-width solid $checkmark-color;
				border-top-style: none;
				border-right-style: none;
			}
		}
	}
}

.button{
	background: none;
	border: none;
	border-radius: 2px;
	color: black;
	padding: 0 16px;
	position: relative;
	height: 36px;
	margin: 0;
	min-width: 64px;
	box-sizing: content-box;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0;
	overflow: hidden;
	transition: box-shadow .1s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
	outline: none;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	line-height: 36px;
	vertical-align: middle;
}

.button--svg{
	min-width: 0;
	padding: 0;
	line-height: 0;
	display: inherit;
	height: auto;
	color: $input-color;
}

.button--raised{
	background: rgba(158,158,158,.2);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.button--raised:hover{
	background: darken(rgba(158,158,158,.4), 10%);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.16);
}

.button--raised:active{
	background: rgba(158,158,158,.4);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.button--danger{
	color: $accent-danger;

	svg{
		fill: $accent-danger !important;
	}
}

.button--success{
	color: $accent-success;

		svg{
		fill: $accent-success !important;
	}
}

.button--accent{
	color: white;
	background: $accent;
}

.button--dark{
	border: none;
	border-right: 1px solid $form-border-color;
	border-top: 1px solid $form-border-color;
	border-bottom: 1px solid $form-border-color;
	outline: none;
	background: rgba(0, 0, 0, 0.02);
}

.button--accent-text{
	color: $accent;
}

.button--unpadded{
	padding: 0;
}

.button:disabled {
	background-color: rgba(0,0,0,.12);
	color: rgba(0,0,0,.26);
	box-shadow: none;
	cursor: default;
}

.button-group{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 1rem 0;

	button {
		margin: 0 5px;
	}
}

.button-group--horizontal{
	> *{
		margin: 0 5px;
	}
}

.button-group--strech{
	> *{
		flex: 1;
	}
}

.help-block{
	margin: 0;
	margin-top: 5px;
	margin-bottom: 1.2rem;
	color: red;
	font-weight: 900;
}
