/*!
 * University of Sussex.
 * Unauthorized copying of this file, via any medium is strictly prohibited.
 * Written by Lewis Johnson <lewisjohnsondev@gmail.com>
 */

/* Shadows */

@mixin shadow-focus() {
	box-shadow: 0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36);
}

@mixin transition--slow() { outline: none; transition: .48s all ease-out;}
@mixin transition--medium() { outline: none; transition: .24s all ease-out;}
@mixin transition--fast() { outline: none; transition: .12s all ease-out;}

@mixin transition--slow-cb() { outline: none; transition: .48s all cubic-bezier(0.19, 0.49, 0.35, 0.76);}
@mixin transition--medium-cb() { outline: none; transition: .24s all cubic-bezier(0.19, 0.49, 0.35, 0.76);}
@mixin transition--fast-cb() { outline: none; transition: .12s all cubic-bezier(0.19, 0.49, 0.35, 0.76);}

@mixin transition--slow-quad() { outline: none; transition: .48s all cubic-bezier(0.25, 0.46, 0.45, 0.94);}
@mixin transition--medium-quad() { outline: none; transition: .24s all cubic-bezier(0.25, 0.46, 0.45, 0.94);}
@mixin transition--fast-quad() { outline: none; transition: .12s all cubic-bezier(0.25, 0.46, 0.45, 0.94);}
