/*!
 * University of Sussex.
 * Unauthorized copying of this file, via any medium is strictly prohibited.
 * Written by Lewis Johnson <lewisjohnsondev@gmail.com>
 */

/* BRAND */
$brand-primary: #1D4289;
$accent: darken($brand-primary, 6%);

$accent-success-background: #2ab27b;
$accent-warning-background: #cbb956;
$accent-danger-background: #d9534f;
$accent-tip-background: #64B5F6;

/* NAV & HEADER */
$header-background: $brand-primary;
$nav-background: darken($brand-primary, 3%);

/* DIALOG */
$underlay-background: rgba(0, 0, 0, 0.4);

/* FORMS */
$form-border-color: rgba(0, 0, 0, 0.12);
$form-border-width: 1px;
$form-input-padding: 8px;
$form-input-font-size: 16px;

/* CHECKBOX */
$checkbox-margin: 16px 0;
$checkbox-border-color: rgba(0, 0, 0, 0.54);
$checkbox-size: 20px;
$checkbox-padding: 4px;
$checkmark-width: 2px;
$checkmark-color: white;

/* SHADOWS */
$shadow-key-umbra-opacity: 0.1;
$shadow-key-penumbra-opacity: 0.08;
$shadow-ambient-shadow-opacity: 0.06;

/* NOTIFICATION */
$notification-bg: #ececec;
$notification-error-bg: #ff0033;
$notification-warning-bg: #ffcc00;
$notification-success-bg: #00b724;
$notification-animation-duration: 9s;

/* TOPICS */
$topic-bg: #323232;
$topic-color: white;
$topic-primary-bg: gold;
$topic-primary-color: black;

$mobile-width: 775px;

/* PROJECTS */
$project-on-offer-color: green;
$project-withdrawn-color: rgb(255, 119, 119);
$project-student-color: #d6d600;
$project-archived-color: #757575;

/* BOOTSTRAP */
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Options
$enable-shadows: false;

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: ();
$sizes: map-merge(
	(
		5: 5%,
		10: 10%,
		15: 15%,
		20: 20%,
		25: 25%,
		30: 30%,
		35: 35%,
		40: 40%,
		45: 45%,
		50: 50%,
		55: 55%,
		60: 60%,
		65: 65%,
		70: 70%,
		75: 75%,
		80: 80%,
		85: 85%,
		90: 90%,
		95: 95%,
		100: 100%,
		auto: auto
	),
	$sizes
);

$input-border-radius: 0.12rem;