.fake-input{
	cursor: text;
}

.dropdown {
	margin-right: 10px;
}

.loader{
	position: relative;
	display: none;
	border: 5px solid transparent;
	border-top: 5px solid #5facff;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	animation: spin 0.5s linear infinite;
	margin: 0 auto;
}

.loader--small{
	width: 25px;
	height: 25px;
}

.loader--medium{
	width: 50px;
	height: 50px;
}

.loader--large{
	width: 75px;
	height: 75px;
}

.loader--x-large{
	width: 100px;
	height: 100px;
}
.centered{
	margin: 0 auto;
}

.pointer{
	cursor: pointer;
}

.section-container{
	display: flex;

	.horizontal{
		margin: 0 1rem;
		flex-grow: 1;
	}
}

.svg-container {
	display: inline;
	margin-right: 6px;
	svg{
		fill: currentColor;
		width: 30px;
		height: 30px;
	}
}

.width-200{
	max-width: 200px;
}

.width-400{
	max-width: 400px;
}

.width-600{
	max-width: 600px;
}

.width-800{
	max-width: 800px;
}

.width-1000{
	max-width: 1000px;
}

.width-1200{
	max-width: 1200px;
}

.width-1400{
	max-width: 1400px;
}

.width-1600{
	max-width: 1600px;
}

.favourite-container {
	position: relative;
	float: right;
	margin-top: 1.6rem;

	svg {
		fill-opacity: 0.3;
		fill: $text-color;

		:hover{
			fill-opacity: 0.6;
		}

		polygon { transition: .18s all ease; }
	}

	svg.favourite {
		fill-opacity: 1;
		fill: gold;

		:hover{
			fill-opacity: 1;
		}
	}
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.transition--medium {
	outline: none;
	transition: .25s all cubic-bezier(0.4, 0, 0, 1.52);
}


.transition--medium:focus {
	outline: none;
}
