.loader{
	position: relative;
	display: none;
	border: 5px solid transparent;
	border-top: 5px solid #5facff;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	animation: spin 0.5s linear infinite;
	margin: 0 auto;
}

.scroll-to-top{
	position: fixed;
	bottom: 2vh;
	right: 2vw;
	display: none;
}

.has-error{
	input{
		border: solid 1px rgba(255, 0, 0, 0.40);
	}
}

ul.dot-menu{
	display: none;
	white-space: nowrap;
	position: fixed;
	background: white;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	border-radius: 2px;
	z-index: 1;
	text-align: left;
	list-style: none;

	&.is-visible{
		animation: showDotMenu 0.12s cubic-bezier(0.22, 0.61, 0.36, 1);
	}

	.dot-menu__item{
		.dot-menu__action {
			display: block;
			height: 48px;
			line-height: 48px;
			padding: 0 16px !important;
		}

		.dot-menu__action.icon{
			p{
				line-height: initial;
				font-size: 14px;
				font-weight: 400;
			}
		}

		&:hover{
			background: #eee;
		}

		&:active{
			background: #e0e0e0;
		}
	}

	.dot-menu__item--padded{
		padding: 8px;
	}

	.dot-menu__item--form{
		.icon{
			width: auto;
		}
	}
}

.section-container{
	display: flex;

	.horizontal{
		margin: 0 1rem;
		flex-grow: 1;
	}
	
	:first-child{ margin-left: 0; }
	:last-child{ margin-right: 0; }
}

.section-user-selector{
	ul, ol{
		padding-left: 10px;
	}

	li{
		margin-bottom: 5px;

		a {
			text-decoration: none;
			transition: 0.2s all;
			outline: none;
		}

		a:hover, a:focus{
			padding-left: 5px;
			font-size: 110%;
			text-decoration: underline;
		}
	}

	a:hover, a:focus{
		color: black;
	}
}

.header-links{
	text-align: center;

	a{
		transition: 0.2s all;
		margin: 2px;
	}
}

.alpha-header{
	display: block;
	position: sticky;
	top: 40px;
	padding: 1rem 0;
	padding-bottom: 5px;
	background: white;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);

	h3{
		margin: 0;
	}
}

.svg-container {
	display: inline;
	margin-right: 6px;
	svg{
		fill: currentColor;
		width: 30px;
		height: 30px;
		transition: 0.18s all cubic-bezier(0.4, 0, 0.54, 1.46);
	}
}

.icon {
	margin: 0;
	padding: 1rem;
	width: 100%;
	display: block;
	text-decoration: none;
	p {
		margin-left: 5px;
		line-height: 32px;
		margin: 0;
		display: inline-block;
		color: inherit;
	}

	.svg-container {
		vertical-align: middle;
		svg {
			width: 20px;
			height: 20px;
			vertical-align: text-bottom;
		}
	}
}

.icon-list{
	display: flex;
	flex-direction: column;
	list-style: none;

	.icon{ padding: 6.5px; }
}

.favourite-container {
	position: relative;
	float: right;
	margin-top: 1.6rem;

	svg {
		fill-opacity: 0.3;
		fill: $text-color;

		:hover { fill-opacity: 0.6; }
		polygon { transition: .18s all ease; }
	}

	svg.favourite {
		fill-opacity: 1;
		fill: gold;

		:hover{ fill-opacity: 1; }
	}
}

.arrangements-container{
	display: flex;

	table{
		width: 65%;
		margin: 0;
	}

	.side-content{
		position: sticky;
		top: 70px;
		width: 30%;
		height: 100%;
		margin: 0 auto;
		background: white;
	}
}

.underlay{
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 500;
	transition: 0.14s background cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.underlay.active{
	transition: 1s background;
	visibility: visible;
	background: $underlay-background;
}

.centered{ margin: 0 auto; }
.pointer{ cursor: pointer; }
.fake-input{ cursor: text; }
.dropdown { margin-right: 10px;}
.table-responsive{ overflow: auto; }

.loader--small{ width: 25px; height: 25px; }
.loader--medium{ width: 50px; height: 50px; }
.loader--large{ width: 75px; height: 75px; }
.loader--x-large{ width: 100px; height: 100px; }

.width-200{ max-width: 200px; }
.width-400{ max-width: 400px; }
.width-600{ max-width: 600px; }
.width-800{ max-width: 800px; }
.width-1000{ max-width: 1000px; }
.width-1200{ max-width: 1200px; }
.width-1400{ max-width: 1400px; }
.width-1600{ max-width: 1600px; }

.transition--slow { @include transition--slow(); }
.transition--slow:focus { outline: none; }

.transition--medium { @include transition--medium(); }
.transition--medium:focus { outline: none; }

.transition--fast { @include transition--fast(); }
.transition--fast:focus { outline: none; }

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@keyframes showDotMenu {
	from { transform: scale3d(0.8, 0.8, 1); }
	to { transform: scale3d(1, 1, 1); }
}