.fake-input{
	cursor: text;
}

.dropdown {
	margin-right: 10px;
}

.loader{
	position: relative;
	display: none;
	border: 5px solid transparent;
	border-top: 5px solid #5facff;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	animation: spin 0.5s linear infinite;
	margin: 0 auto;
}

.loader--small{
	width: 25px;
	height: 25px;
}

.loader--medium{
	width: 50px;
	height: 50px;
}

.loader--large{
	width: 75px;
	height: 75px;
}

.loader--x-large{
	width: 100px;
	height: 100px;
}
.centered{
	margin: 0 auto;
}

.pointer{
	cursor: pointer;
}

.section-container{
	display: flex;

	.horizontal{
		margin: 0 1rem;
		flex-grow: 1;
	}
}

.section-user-selector{
	ul, ol{
		padding-left: 10px;
	}

	li{
		margin-bottom: 5px;

		a {
			text-decoration: none;
			transition: 0.2s all;
			outline: none;
		}

		a:hover, a:focus{
			padding-left: 5px;
			font-size: 110%;
			text-decoration: underline;
		}
	}

	a:hover, a:focus{
		color: black;
	}
}

.header-links{
	text-align: center;

	a{
		transition: 0.2s all;
		margin: 2px;
	}
}

.alpha-header{
	display: block;
	position: sticky;
	top: 40px;
	padding: 1rem 0;
	padding-bottom: 5px;
	background: white;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);

	h3{
		margin: 0;
	}
}

.svg-container {
	display: inline;
	margin-right: 6px;
	svg{
		fill: currentColor;
		width: 30px;
		height: 30px;
		transition: 0.18s all cubic-bezier(0.4, 0, 0.54, 1.46);
	}
}

.icon{
	margin: 0;
	padding: 1rem;
	width: 100%;
	display: block;
	text-decoration: none;

	p{
		margin-left: 5px;
		line-height: 32px;
		margin: 0;
		display: inline-block;
		color: inherit;
	}

	.svg-container{
		vertical-align: middle;
			svg{
				width: 20px;
				height: 20px;
				vertical-align: text-bottom;
			}
	}
}

.icon-list{
	display: flex;
	flex-direction: column;
	list-style: none;
	.icon{
		padding: 6.5px;
	}
}

.width-200{
	max-width: 200px;
}

.width-400{
	max-width: 400px;
}

.width-600{
	max-width: 600px;
}

.width-800{
	max-width: 800px;
}

.width-1000{
	max-width: 1000px;
}

.width-1200{
	max-width: 1200px;
}

.width-1400{
	max-width: 1400px;
}

.width-1600{
	max-width: 1600px;
}

.favourite-container {
	position: relative;
	float: right;
	margin-top: 1.6rem;

	svg {
		fill-opacity: 0.3;
		fill: $text-color;

		:hover{
			fill-opacity: 0.6;
		}

		polygon { transition: .18s all ease; }
	}

	svg.favourite {
		fill-opacity: 1;
		fill: gold;

		:hover{
			fill-opacity: 1;
		}
	}
}


.arrangements-container{
	display: flex;
	table{
		width: 65%;
		margin: 0;
	}

	form{
		width: 30%;
		margin: auto;
	}
}


.transition--slow {
	@include transition--slow();
}

.transition--medium {
	@include transition--medium();
}

.transition--fast {
	@include transition--fast();
}


.transition--medium:focus {
	outline: none;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
