
// Body
$body-bg: #f5f8fa;

// Form
$form-border-color: #888;
$form-border-width: 1px;
$form-input-padding: 10px;
$form-input-font-size: 16px;
$form-label-text-color: darken($form-border-color, 50%);


// 

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Other
$error-bg-color: #ff6161;
$error-border-color: darken($error-bg-color, 10%);
$notification-bg-color: white;
$notification-text-color: black;
$notification-border-color: black;

// NOT USED
// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;