/*!
 * University of Sussex.
 * Unauthorized copying of this file, via any medium is strictly prohibited.
 * Written by Lewis Johnson <lewisjohnsondev@gmail.com>
 */

h1 {
	font-size: 200% !important;
}

h2 {
	font-size: xx-large !important;
}

h3, h4, h5, h6 {
	font-size: x-large !important;
}

p, a, li, td, tr, label, input, button {
	font-size: large !important;
}

.card.tab-card {

	.content-host {
		flex: 0 0 70% !important;
	}

	ul.tab-container {
		flex: 0 0 30% !important;
	}
}
