.button {
	background: none;
	border: none;
	border-radius: 2px;
	color: black;
	padding: 0 16px;
	position: relative;
	height: 36px;
	margin: 0;
	white-space: pre;
	min-width: 64px;
	box-sizing: content-box;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0;
	overflow: hidden;
	transition: box-shadow .1s cubic-bezier(.4, 0, 1, 1),
				background-color .2s cubic-bezier(.4, 0, .2, 1),
				color .2s cubic-bezier(.4, 0, .2, 1);
	outline: none;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	line-height: 36px;
	vertical-align: middle;
}

.button:focus, button:focus {
	background: #e6e6e6;
}

.button--small {
	padding: 4px 12px;
	@include transition--medium();
}

a.button--small {
	display: inline-block;
	font-size: 13.4px;
}

.hover--light {
	@include transition--medium();
	&:hover, &:focus {
		color: white;
	}
}

.hover--dark {
	@include transition--medium();
	&:hover, &:focus {
		color: black;
	}
}

.button--svg {
	min-width: 0;
	padding: 0;
	line-height: 0;
	display: inherit;
	height: auto;
	color: $input-color;
	white-space: normal;
	p {
		display: inline;
		position: relative;
		top: -10px;
	}
}

.button--raised {
	background: rgb(236, 236, 236);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);

	&:hover {
		background: darken(rgb(236, 236, 236), 10%);
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .16);
	}

	&:active {
		background: darken(rgb(236, 236, 236), 20%);
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .28), 0 3px 1px -2px rgba(0, 0, 0, .4), 0 1px 5px 0 rgba(0, 0, 0, .32);
	}
}

.button--danger {
	color: $accent-danger-text-color;
	background: $accent-danger-background;

	svg {
		fill: $accent-danger-text-color !important;
	}
	&:hover {
		background: saturate($accent-danger-background, 20%);
	}

	&-text {
		color: $accent-danger-background;
		&:hover {
			color: white;
			background: saturate($accent-danger-background, 20%);
		}
	}
}

.button--success {
	color: $accent-success-text-color;
	background: $accent-success-background;

	svg {
		fill: $accent-success-text-color !important;
	}
	&:hover {
		background: lighten(saturate($accent-success-background, 20%), 10%);
	}
	&-text {
		color: $accent-success-background;
		&:hover {
			color: white;
			background: saturate($accent-success-background, 20%);
		}
	}
}

.button--white {
	&:hover {
		background: rgba(236, 236, 236, 0.2);
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .16);
	}
}

.button--accent {
	color: white;
	background: $accent;

	svg {
		fill: $accent !important;
	}

	&:hover {
		background: lighten(saturate($accent, 20%), 10%);
	}

	&-text {
		color: $accent;
	}
}

.button--dark {
	border: none;
	border-right: 1px solid $form-border-color;
	border-top: 1px solid $form-border-color;
	border-bottom: 1px solid $form-border-color;
	outline: none;
	background: rgba(0, 0, 0, 0.02);
}

.button--unpadded {
	padding: 0;
}

.button[disabled], a[disabled] {
	background-color: rgba(0, 0, 0, .12);
	color: rgba(0, 0, 0, .26);
	box-shadow: none;
	cursor: default;
}

.button-group {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 1rem 0;

	button, a {
		margin: 0 5px;
		overflow: unset;
		min-width: auto;
	}
}

.scroll-to-top {
	position: fixed;
	bottom: 2vh;
	right: 2vw;
	display: none;
}