.flex {
	display: flex;
}

.flex--row {
	flex-direction: row;
}

.flex--col {
	flex-direction: column;
}

.flex--stretch {
	flex: 1;
}

.flex--wrap {
	flex-wrap: wrap;
}

.flex--no-wrap {
	flex-wrap: nowrap;
}

.flex--stretch-children {
	> * {
		flex: 1;
	}
}

.flex--full {
	flex: 0 1 100%;
}