@for $i from 1 through 8 {
	$width: $i * 2;

	.mw-#{$width}00 {
		max-width: #{$width + '00px'};
	}
}

.svg-xs {
	.svg-container {
		svg {
			width: 16px;
		}
	}
}

.svg-sm {
	.svg-container {
		svg {
			width: 25px;
		}
	}
}

.svg-md {
	.svg-container {
		svg {
			width: 50px;
		}
	}
}

.svg-lg {
	.svg-container {
		svg {
			width: 75px;
		}
	}
}