.edit-topic-list {
  list-style: none;
}

.edit-topic-list .topic {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 15rem;
}

.edit-topic-list .topic > * {
  display: inline-block;
}

.edit-topic-list .topic p {
  margin: 0;
}

.edit-student-list .student-edit-item :not(:first-child) {
  width: 150px;
}

.section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-container .horizontal {
  margin: 0 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#admin-form {
  background: red;
  padding: 1rem;
  border: 3px solid yellow;
  margin-bottom: 5rem;
  text-align: center;
  -webkit-animation: textAttention 0.7s infinite;
          animation: textAttention 0.7s infinite;
}

@-webkit-keyframes textAttention {
  0% {
    color: black;
  }

  50% {
    color: yellow;
    border: 3px solid #990000;
  }

  100% {
    color: black;
  }
}

@keyframes textAttention {
  0% {
    color: black;
  }

  50% {
    color: yellow;
    border: 3px solid #990000;
  }

  100% {
    color: black;
  }
}

