@media screen and (min-width: 970px){
	.mobile-nav-underlay{display: none !important;}
}

@media screen and (max-width: 970px){

	.table-action-header, .table-action{
		display: none;
	}

	.table-mobile-menu-header, .table-mobile-menu{
		display: table-cell;
	}

	.main-content{
		padding: 3rem 1rem;
		padding-bottom: 20vh;
		overflow-x: scroll;
	}

	.section-container{
		flex-wrap: wrap;
		.section{
			width: 100%;
			margin: 7px auto !important;
		}
	}

	.hub{
		width: 100%;
		.section{
			width: 100%;
			margin: 7px auto !important;
		}
	}

	.hub-container{
		> .header{
			flex-wrap: wrap;

			.title{
				display: inline-block;
				flex: 1 0 70%;
			}

			.svg-container{
				display: inline-block;
				flex: 1 0 10%;
			}

			.actions{
				margin-top: 1rem;
			}
		}
	}
	.mobile--hidden{
		visibility: hidden;
		display: none;
	}


	#header.mobile{
		display: flex;
	}

	nav.mobile{
		display: block;
	}

	#header.desktop{
		display: none;
	}

	nav.desktop{
		display: none;
	}

	.edit-topic-list{
		.topic{
			width: 100%;
		}
		
		.topic:nth-child(odd){
			margin-right: 0;
		}
	}

	.dialog{
		left: 2vw;
		right: 2vw;
	}

	// SEARCH
	.search-filter-container.active{
		max-height: 170px;
	}

	.search-filter{

		li{
			display: block;
			margin: 0 0 1rem 0;
		}
	}


	/* HELPERS */
	.alpha-header{
		top: 40px;
	}

	// TABLE
	th, td{
		padding: 8px;
	}

	td:first-of-type, th:first-of-type{
		padding-left: 8px;
	}

	td:last-of-type, th:last-of-type{
		padding-right: 8px;
		text-align: right;
	}

	footer{
		height: auto;

		.footer-right, .footer-left{
			position: relative;

			a, p {
				padding: 5px;
			}

			.seperator{
				display: none;
			}
		}
	}
}
