@media screen and (min-width: 720px){
	.mobile-nav-underlay{display: none !important;}
}

@media screen and (max-width: 720px){
	.main-content{
		padding: 3rem 1rem;
	}

	.section-container{
		flex-wrap: wrap;
		.section{
			width: 100%;
			margin: 7px auto !important;
		}
	}

	.hub{
		width: 100%;
		.section{
			width: 100%;
			margin: 7px auto !important;
		}
	}

	.dialog{
		.content{
			top: 5%;
			bottom: 5%;
			left: 5%;
			right: 5%;
		}
	}

	.mobile--hidden{
		visibility: hidden;
		display: none;
	}
	

	#header.mobile{
		display: flex;
	}

	nav.mobile{
		display: block;
	}

	#header.desktop{
		display: none;
	}

	nav.desktop{
		display: none;
	}

	.dialog{
		left: 2vw;
		right: 2vw;
	}

	// SEARCH

	.search-filter-container.active{
		max-height: 170px;
	}

	.search-filter{

		li{
			display: block;
			margin: 0 0 1rem 0;
		}
	}

	// TABLE
	th, td{
		padding: 8px;
	}

	td:first-of-type, th:first-of-type{
		padding-left: 8px;
	}

	td:last-of-type, th:last-of-type{
		padding-right: 8px;
		text-align: right;
	}


}
