.card{
	@include shadow-2dp();
	border: 1px solid rgba(0, 0, 0, 0.12);
	padding: 1rem;
	word-wrap: break-word;
	width: 100%;

	border-radius: 2px;
	h2 {
		margin-top: 5px;
	}

	ul{
		padding-left: 40px;
	}

	.footer{
		margin: -1rem;
		margin-top: 20px;
		padding: 5px;
		background: rgba(158,158,158,.2);
		p{ display: inline}
	}
}

.card--half{
	margin-bottom: 2%;
	width: 100%;
	border-top: 2px solid #1d4289;
	&:nth-child(odd){
		margin-right: auto;
	}

	&:nth-child(even){
		margin-left: auto;
	}
}

.card-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.card-slim-content{
	p{
		margin: 2px;
	}
}

.card--margin-vertical{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
