#header{
	width: 100%;
	background: $brand-primary;

	h1{
		color: white;
		text-align: center;
		margin: 0;
	}
}

#header.desktop{
	height: 200px;
	.logo{
		position: absolute;
		top: 0;
		left: 0;
		width: 200px;
	}

	h1{
		line-height: 200px;
	}
}

#header.mobile{
	display: none;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;

	a{
		line-height: 50px;
		font-size: 22px;
		color: white;
		font-weight: bold;
		margin-left: auto;
		margin-right: 1rem;
		text-align: right;
		text-decoration: none;
		display: inline-block;
		overflow: hidden;
	}
}

.hamburger-container{
	padding: 1rem;
}

.hamburger-list{
	cursor: pointer;
	list-style: none;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

.hamburger-line{
	position: relative;
	width: 24px;
	height: 2px;
	background: white;
	transition: all 0.3s;
	margin-bottom: 5px;
}

.hamburger-line--short{
	width: 20px;
}

.login-button, .logout-button, .change-auth-button{
	position: absolute;
	top: 10px;
	right: 10px;
	background: white;
}

.change-auth-button{
	right: 110px;
}
