#header{
	width: 100%;
	background: $brand-primary;

	h1{
		color: white;
		text-align: center;
		margin: 0;
	}
}

#header.desktop{
	padding: 5px;

	.main{
		display: flex;
		margin-bottom: 1rem;

		.logo{
			height: 100px;
		}

		h1{
			line-height: 100px;
			position: absolute;
			margin: 0 auto;
			width: 98%;
		}
	}

	.toolbar{
		display: flex;
		p{
			margin: 0;
			color: white;
			line-height: 36px;
			margin-left: 10px;
		}
		
		.right{
			margin-left: auto;
		}
	}
}

#header.mobile{
	display: none;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;

	a{
		line-height: 50px;
		font-size: 22px;
		color: white;
		font-weight: bold;
		margin-left: auto;
		margin-right: 1rem;
		text-align: right;
		text-decoration: none;
		display: inline-block;
		overflow: hidden;
	}
}

.hamburger-container{
	padding: 1rem;
}

.hamburger-list{
	cursor: pointer;
	list-style: none;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

.hamburger-line{
	position: relative;
	width: 24px;
	height: 2px;
	background: white;
	transition: all 0.3s;
	margin-bottom: 5px;
}

.hamburger-line--short{
	width: 20px;
}