/*!
 * University of Sussex.
 * Unauthorized copying of this file, via any medium is strictly prohibited.
 * Written by Lewis Johnson <lewisjohnsondev@gmail.com>
 */

.notification {
	position: fixed;
	padding: 8px 16px;
	background: $notification-bg;
	border-top: 1px solid darken($notification-bg, 20%);
	width: 90%;
	min-width: 400px;
	left: 5%;
	right: 5%;
	font-weight: 600;
	opacity: 0;
	z-index: 100;
	animation: flash-message $notification-animation-duration cubic-bezier(0.18, 0.89, 0.32, 1.28);
	-webkit-font-smoothing: antialiased;
	pointer-events: none;
	font-size: 20px;

	p {
		text-align: center;
		margin: 0;
	}

	&.error, &.danger {
		background: $notification-error-bg;
		p {
			color: white;
		}
	}

	&.warning {
		background: $notification-warning-bg;
		p {
			color: black;
		}
	}

	&.success {
		background: $notification-success-bg;
		p {
			color: white;
		}
	}

	&.autosave {
		border-top: 0px;
		padding: 4px 8px;
		width: 15%;
		min-width: 150px;
		left: 5%;
		right: 85%;
		text-align: center;
	}

	&.quick {
		animation: flash-message 2s cubic-bezier(0.18, 0.89, 0.32, 1.28) !important;
	}
}

@keyframes flash-message {
	0% {
		bottom: -5%;
	}
	10% {
		opacity: 1;
		bottom: 5%
	}
	90% {
		opacity: 1;
		bottom: 5%
	}
	100% {
		opacity: 0;
		bottom: -5%;
	}
}
