/*!
 * University of Sussex.
 * Unauthorized copying of this file, via any medium is strictly prohibited.
 * Written by Lewis Johnson <lewisjohnsondev@gmail.com>
 */

.project-preview {
	overflow: hidden;

	.project {
		@include transition--medium-cb();
		overflow: hidden;

		.title {
			margin-top: 0;
		}
	}
}
