table{
	width: 100%;
	margin-top: 1rem;
	text-align: left;
}

tbody{
	border: 1px solid rgba(0,0,0,.12);
}

table, th, td {
	border-collapse: collapse;
}

th, td {
	padding: 10px;
}

th {
	color: $text-color;
	font-size: 14px;
}

td {
	font-size: 13px;
	color: $text-color;
}

tr{
	transition-duration: .28s;
	transition-timing-function: cubic-bezier(.4,0,.2,1);
	transition-property: background-color;
	border-bottom: 1px solid rgba(0,0,0,.12);
	line-height: 22px;
}

tr:hover{
	background-color: #eee;
}

// Table list is a list of flex items posing as an ordinary table.
.table-list{
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
	margin-top: 1rem;
	border: 1px solid rgba(0,0,0,.12);

	> li{
		display: flex;
		flex-direction: row;
		padding: 10px;
		transition-duration: .28s;
		transition-timing-function: cubic-bezier(.4,0,.2,1);
		transition-property: background-color;
		border-bottom: 1px solid rgba(0,0,0,.12);
		line-height: 22px;

		&:hover{
			background-color: #eee;
		}

		> :last-child{
			margin: 0 0 0 auto;
			text-align: right;
		}
	}

	p, h3{
		font-size: 13px;
		color: #757575;
		margin: 0;
	}

	h3{
		font-size: 14px;
	}

	a{
		font-size: 13px;
		text-decoration: none;
	}

	a:hover{
		text-decoration: underline;	
	}

	a:visited{
		// color: grey;
	}
}

.table-list--checkbox{
	> li{
		padding-left: 1.5rem;

		.checkbox{
			margin: 0;
		}

		> :first-child{
			width: 50px;
		}
	}
}

.table-list--margined > li{
	* {
			margin-right: 5px;
	}
}

.raw-detail{
	display: none;
}