/*!
 * University of Sussex.
 * Unauthorized copying of this file, via any medium is strictly prohibited.
 * Written by Lewis Johnson <lewisjohnsondev@gmail.com>
 */

.card ul.topics-list {
	padding: 0;
}

ul.topics-list {
	list-style: none;
	padding: 0 !important; //!important needed to override jQuery confirm
	margin: 0;
	.topic {
		background: $topic-bg;
		color: $topic-color;
		display: inline-block;
		border: 1px solid black;
		border-radius: 2px;
		margin-right: 5px;
		margin-bottom: 5px;

		&.primary {
			background: $topic-primary-bg;
			border-color: darken($topic-primary-bg, 5%);
			color: $topic-primary-color;
			&:before {
				content: '★'; // Star
				padding-left: 8px;
			}

			&:hover {
				background: lighten($topic-primary-bg, 10%);
			}
		}

		a, p {
			display: inline-block;
			text-decoration: none;
			color: inherit;
			margin: 0;
			padding: 5px;
		}

		&:hover {
			background: lighten($topic-bg, 10%);
		}
	}
}

.topics-list.edit, .topics-list.create {
	display: inline-block;

	.topic-remove {
		display: inline-block;
		color: white;
		padding: 5px;
		width: 30px;
		text-align: center;
		border: none;
		border-right: 1px solid #969696;
	}

	.topic {
		cursor: move; /* fallback if grab cursor is unsupported */
		cursor: grab;
		cursor: -moz-grab;
		cursor: -webkit-grab;
		user-select: none;
		overflow: hidden;

		&:active, &:focus {
			cursor: grabbing;
			cursor: -moz-grabbing;
			cursor: -webkit-grabbing;
		}
	}

	.topic:first-child.first {
		background: #ffd700;
		border-color: darken(#ffd700, 5%);
		color: black;

		&:before {
			content: '★';
			padding-left: 8px;
		}

		.topic-remove {
			display: none;
		}
	}
}

.topics-list.create {
	.topic {
		input {
			width: auto;
			background: none;
			border: none;
			clear: none;
			display: inline-block;
			text-decoration: none;
			color: inherit;
			margin: 0;
			padding: 5px;
		}
	}
}

#add-topic-input, #create-project-add-topic-input {
	outline: none;
	display: inline-block;
	width: auto;
	border: none;
	vertical-align: top;
}